@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

.search_bar {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 300px;
    background-color: #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;

    input{
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        padding: 5px;
        font-size: 16px;
        border: none;
        background:none;
    }
    textarea:focus, input:focus{
        outline: none;
    }
}